/* chatbox */
.chatDialogue {
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* chatbox bubbles */
.chat_box {
  margin-bottom: 1em;
  width: 5.25em;
  height: 2.375em;
  border-radius: 2.375em;
  position: relative;
}
.chat_box:nth-child(1),
.chat_box:nth-child(3) {
  height: 2.375em;
  border-radius: 2.375em;
  position: relative;
}
.chat_box:nth-child(1) {
  background: linear-gradient(transparent, #B174E5 80%);
}
.chat_box:nth-child(3) {
  background-color: #B174E5;
}
.chat_box:nth-child(1)::after,
.chat_box:nth-child(3)::after {
  content: "";
  position: absolute;
  bottom: -0.375em;
  height: 0.875em;
  width: 0.75em;
  background-color: inherit;
  left: 0.438em;
  border-radius: 0 0 1em 0.1em;
}
.chat_box:nth-child(1)::after {
  background-color: #B174E5;
}
.chat_box:nth-child(2) {
  width: 5.25em;
  height: 2.375em;
  border-radius: 2.375em;
  position: relative;
  background-color: #fff;
  border-color: #B174E5;
  border-style: double;
  color: black;
  width: fit-content;
  height: fit-content;
  padding: 15px;
}
.chat_box:nth-child(3)::after {
  content: "";
  position: absolute;
  bottom: -0.375em;
  height: 0.875em;
  width: 0.75em;
  background-color: inherit;
  left: 0.438em;
  border-radius: 0 0 1em 0.1em;
}
/* chat dot typing animation */
.chat_boxDot {
  text-align: center;
  color: white;
}
.chat_boxDot span {
  display: inline-block;
  background-color: currentColor;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  margin-right: 5px;
  animation-name: bob;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  margin-top: 15px;
}
.chat_boxDot span:nth-child(1) {
  animation-delay: -1s;
}
.chat_boxDot span:nth-child(2) {
  animation-delay: -0.85s;
}
.chat_boxDot span:nth-child(3) {
  animation-delay: -0.7s;
  margin-right: 0;
}
@keyframes bob {
  10% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(0);
  }
}
/* phone case */
.phone {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  width: 8.375em;
  height: 1.25em;
  border-radius: 1.25em;
  background-color: #B174E5;

}
.phone::after {
  content: "";
  width: 1.5em;
  height: 0.375em;
  border-radius: 0.375em;
  background-color: white;
}

/* *************************** */